# Test report

Of {{ .Runs }} tests run there were {{ .Passes }} passes, {{ .Failures }} fails, {{ .Skips }} skips.

{{ range $key, $val := .TestMap }}
{{ if not $val.Test }}
# PACKAGE {{ $val.Package }}

<details>
  <summary>Console output</summary>

```text
{{ range $val.OutputLines }}{{ . }}{{ end }}```

</details>
{{ else }}
## TEST {{ $val.Package }}.{{ $val.Test }}

{{ if $val.Failed }} 
FAILED :fire:
{{ else }}{{ if $val.Skipped }}
SKIPPED :fast_forward:
{{ else }}
PASSED :heavy_check_mark:
{{ end }}
{{end}}

| event | time | 
|-------|------|
{{ range $val.Events }}| {{ .Action }} | {{ .Time }} |
{{ end }}

{{ if or (gt (len $val.OutputLines) 0) (gt (len $val.BenchmarkLines) 0) }}
<details>
  <summary>Console output</summary>

{{ if $val.OutputLines }}
### Console
```text
{{ range $val.OutputLines }}{{ . }}{{ end }}```
{{ end }}
{{ if $val.BenchmarkLines }}
### Benchmark
```text
{{ range $val.BenchmarkLines }}{{ . }}{{ end }}```
{{ end }}
</details>
{{ end }}
{{ end }}
{{ end }}

